HTTP_ADDR=:3000
HTTP_SHUTDOWN_TIMEOUT=30s

LOGGER_LEVEL=debug
LOGGER_FOLDER=./logs

PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DB=cloud
PG_TIMEOUT=5s

JWT_SECRET=change-me
JWT_TTL=15m

AUTH_REFRESH_TTL=168h
