# SHARED
LOGGER_LEVEL=debug
LOGGER_FOLDER=./logs

PG_HOST=localhost
PG_PORT=5433
PG_USER=cloud
PG_PASSWORD=123123
PG_DB=cloud
PG_TIMEOUT=10s

FILE_STORAGE_DIR=./storage

# FILE_KAFKA_TOPIC_FILE_UPLOADED=file.uploaded
# FILE_KAFKA_TOPIC_FILE_UPLOADED_PARTITIONS=1
# FILE_KAFKA_GROUP_FILE_UPLOADED

KAFKA_BROKERS=localhost:29092
# KAFKA_CLIENT_ID=cloud-backend
# KAFKA_BATCH_TIMEOUT=1s
# KAFKA_WRITE_TIMEOUT=10s
# KAFKA_READ_TIMEOUT=10s
# KAFKA_MAX_WAIT=1s

# API
HTTP_ADDR=:8080
HTTP_SHUTDOWN_TIMEOUT=30s

API_METRICS_ADDR=:8081
API_METRICS_SHUTDOWN_TIMEOUT=30s
API_FRONTEND_URL=http://localhost:4200

JWT_SECRET=access
JWT_TTL=15m

AUTH_REFRESH_TTL=168h

# WORKER
WORKER_METRICS_ADDR=:8082
WORKER_METRICS_SHUTDOWN_TIMEOUT=30s

# GRAFANA
GF_ADMIN_PASSWORD=admin
